.one {
  color: fuchsia;
  font-family: "Whisper", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
  background-color: pink;
  margin: 0px;
  margin-bottom: -20px;
}
.shoppingcart {
  margin-left: 1200px;
  text-align: right !important;
  font-size: 30px;
 
}
.logo {
  margin-top: 20px;
  height: 85px;
  width: 80px;
  background-color: pink;
}

.shop {
  font-size: 40px;
  color: fuchsia;
  background-color: pink;
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.two {
  color:#921A40;
  background-color: pink;
  margin: 0px;
}
a {
  color: #921A40;
  text-transform: uppercase;
  margin-top: 10px;
}
div {
  height: 90px;
  width: 90px;
  background-color: pink;
}
.first
 {
  color: white;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: xx-large;
  border: solid palevioletred;
  border-width: 10px;
  padding: 10px;
  margin-left: 350px;
}
.second {
  color: white;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: xx-large;
  border: solid plum;
  border-width: 10px;
  padding: 10px;
  margin-left: 500px;
  margin-top: -128px;
  
}
.third {
  color: white;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: xx-large;
  border: solid palevioletred;
  border-width: 10px;
  padding: 10px;
  margin-left: 650px;
  margin-top:-129px ;
}
.fourth {
  color: white;
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: xx-large;
  border: solid plum;
  border-width: 10px;
  padding: 10px;
  margin-left: 800px;
  margin-top: -129px;
}
.side {
  height: 300px;
  width: 700px;
  font-size: 20px;
  margin: 30px;
  margin-left: 200px;

}
.top {
  margin-left: 730px;
  margin-right: 20px;
  margin-top: -240px;

}
.topp {
  margin-left: 820px;
  margin-right: 20px;
  margin-bottom: 0px;
 
  
}
.h {
  height: 170px; 
  width: 130px;
  border: 10px solid white;
  display: inline-block;
}
.hh {
  height: 170px; 
  width: 130px;
  border: 10px solid white;
  display: inline-block;
}
.h:hover {
  content: url(images/mm.jpg);
}
.hh:hover {
  content: url(images/smile.jpg);

}

.pink {
  background-color: pink;
  margin: 0px;
}

.best {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 60px;
  background-color: pink;
}


ol {
  margin-left: -40px;
  margin-top: 5px;
  list-style-position: inside;
}
ul {
  margin-left: -50px;
  margin-top: 5px;
  list-style-position: inside;
}
.ul {
  background-color: pink;
}
.image {
  margin-left: 0px;
}
.dark {
  background-color: pink;
}
.bottom {
  margin-right: -100px;
}
#img {
  margin-left: 20px;
  margin-right: 1000px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#last {
  font-family: "Whisper", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 45px;
  color: white;
  height: 250px;
  width: 600px;
  border: 20px solid palevioletred;
  padding: 20px;
  margin-top: -50px ;
  margin-right: 20px;
  margin-left: 580px;
  
}
 
.checkout {
  height: 500px;
  width: 500px;
  margin: 20px;
}

*{
    background-color: #fae7f3;
    text-align: center;
    margin: 0px;
  }
  .cart {
    text-align: left;
  }
  .bflower {
    height: 300px;
    width: 300px;
  }
 .img {
  height: 200px;
  width: 200px;
 }