* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Faculty Glyphic", sans-serif;
    font-weight: ;
    font-style: normal;
    
}
body {
    /*background-color: #fbeae9;*/
    background-color: white;
    color: #333;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding: 15px 50px;
    gap: 10px;
    background-color: #ffffff;
    width: 100%;
    flex-direction: inherit;
}
.header h1{
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    color: #d4af96;
}
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 8px 16px;
    border: 1px solid #d4af96;
    border-radius: 20px;
    transition: background 0.3s;
}
nav ul li a:hover,
   .active {
    background-color: #d4af96;    
    color: #fff;
   }
  .search-container {
    display: flex;
    align-items: center;
    border: 1px solid white;
    padding: 8px;
    border-radius: 20px;
    width: 170px;
    margin-left: 5px;
  }
  .search-container:hover {
    border: 1px solid #d4af96;
    border-radius: 20px;
}
  
  .search-container .material-symbols-outlined {
    font-size: 20px; 
    color: #d4af96; 
  }
  
  .search-container input[type="text"] {
    border: none;
    outline: none;
    width: 100%; 
    font-size: 16px;
  }
.logo-container {
    margin-top: 70px;
    width: 500px ;
    height: 200px;
   text-align: center;
   display: block;
  margin-left: auto;
  margin-right: auto;
}

.icons-container {
    display: flex;
    gap: 20px;
    justify-content: right;
}

.icon-circle {
    background-color: #fddac8;
    padding: 10px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.icon-circle img {
    width: 20px;
    height: 20px;
}
.welcome{
    padding: 50px;
    background-image: url('img/pic-9yNNnThkP-transformed.webp');
    background-size: cover;
    color: white;
    font-weight: bold;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.welcome h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
}
.welcome p{
    font-size: 1.1em;
    max-width: 500px;
    margin: 0 auto 30px auto;
    line-height: 1.6;
    text-align: center;

}
.button-group {
    display: flex;   
    justify-content: center;
    gap: 15px;
}
.button{
    background-color: #d4af96;
    color: white;
    text-decoration: none;
    padding: 12px 25px;
    border-radius: 20px;
    font-weight: bold;
    transition: background 0.3s;
}
.button:hover{
    background-color: #c28f7e;
}
.collection-section{
    text-align: center;
    padding: 50px 20px;
    background-color:#fcd6ce;
    background: linear-gradient(to bottom right, #f3c4c4, #f9f1f1);
}
.collection-section h2{
    font-size: 50px;
    color: #b44b56;
    margin-bottom: 30px;
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
}
.collection {
    justify-content: center;
    gap: 20px;
    display: flex;
}
.collection p{
    font-size: 20px;
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
}
.collection span{
    color: #b44b56;
    font-family: 'Courier New', Courier, monospace;
}
.first-product{
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.first-product img{
    height: 300px;
    width: 300px;
    object-fit: cover;
    margin-bottom: 15px;
    border-radius: 20px;
}
.first-product img:hover{
    content: url(img/leaf\ coaster-hover.jpg);
}
.second-product{
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.second-product img{
    height: 300px;
    width: 300px;
    object-fit: cover;
    margin-bottom: 15px;
    border-radius: 20px;
}
.second-product img:hover{
    content: url(img/lavender-hover.jpg);
}
.third-product{
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.third-product img{
    height: 300px;
    width: 300px;
    object-fit: cover;
    margin-bottom: 15px;
    border-radius: 20px;
}
.third-product img:hover{
    content: url(img/sprout-hover.jpg);
}
.product span{
    color: #b44b56;
}
@keyframes fadeIn {
    0% {
      transform: scale(0.5);
      opacity: 0;
    }
    60% {
      transform: scale(1.2);
      opacity: 1;
    }
    100% {
      transform: scale(1);
    }
  }
  
 .collection img {
    animation: fadeIn 4s ease;
  }
  .big {
    text-align: left;
    height: 50%;
    width: auto;
    float: left;
  }
  .try p{
    float: right;
  }